.logRegContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    width: 60%;
    height: fit-content;

    background-color: black;
}

.separator {

    background-color: rgba(255, 255, 255, 0.342);
    width: 0.125rem;
    height: 20vh;
    

}