@import url('../index.css');

/*### Login and register styles ###*/

.logRegContainer {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-evenly;

    width: 60%;
    height: fit-content;
    margin-top: 2rem;

    background-color: black;
    border: 2px solid var(--outline);
    border-radius: 1rem;
    animation: var(--fade);
}

.separator {

    background-color: rgba(255, 255, 255, 0.342);
    border: 1px solid var(--outline);
    border-radius: 1rem;
    width: 0.125rem;
    height: 30vh;
    max-height: 100%;
    align-self: center;

}

.loading {
  width: 5rem;
  height: 5rem;
}


/*### Profile info styles ###*/

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: fit-content;
    margin-top: 2rem;

    background-color: var(--background-post);
    border: 2px solid var(--outline);
    border-radius: 1rem;

    padding: 2rem;
    animation: var(--fade);
}

.profileContainer > .imageContainer > img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1rem;
}

.profileContainer > .values {
    font-weight: 400;
    font-style: italic;

    border: 1px solid white;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top: 0.4rem;
}

.profileContainer > label {
    text-decoration: underline;
    margin-top: 1rem;
    margin-bottom: 0;
}

.imageContainer {
    position: relative;
    display: inline-block;
  }
  
  .profilePicture {
    transition: all 0.3s ease;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
    clip-path: circle(50% at 50% 50%);
    border: 0.2rem solid white;
  }
  
  .imageContainer:hover .profilePicture {
    filter: blur(2px);
    filter: brightness(0.5);
  }
  
  .imageButton {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: var(--background-post);
    color: white;
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem;	
  }
  
  .imageContainer:hover .imageButton {
    display: block;
  }

  @media screen and (max-width: 700px){
    .logRegContainer {
        flex-direction: column;
        align-items: center;
        width: 95vw;
    }

    .profileContainer {
        width: 95vw;
    }

    .separator {
      width: 70%;
      height: 0.125rem;
      max-height: 100%;
      align-self: center;
  
    }
  }