@import url('https://fonts.cdnfonts.com/css/sofia-pro');

* {
    box-sizing: border-box;
}
  
:root {
    min-height: 100vh;
    font-family: 'Sofia Pro', sans-serif;
    background-image: radial-gradient(ellipse at top left, #2e0d0d, #090925);
    background-attachment: fixed;    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;

}
  
body {
    margin: 0;
    color: #e6ddf9;
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { 
    :root { 
        width: 98%; 
    } 
}