@import url('../index.css');

.comment {
    display: flex;
    margin-bottom: 0.5rem;
    border-left: 1px var(--outline) solid;
    border-right: 1px var(--outline) solid;
    border-bottom: 1px var(--outline) solid;
}

.newCommentContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    margin-top: 1rem;

    border: 0.5px var(--outline) solid;
}

.newCommentContainer button {
    background: none;
    outline: none;
    border: none;

    transition: 0.3s ease-in-out;
}

.newCommentContainer button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.newCommentContainer form {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content:space-evenly;

}

.newCommentContainer img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 10px;

    filter: invert(1);
}

.newCommentContainer textarea {
    border-radius: 1rem;
    resize: none;
    background-color: rgba(0, 0, 0, 0.267);
    padding: 0.5rem;
    color: white;
    border: none;
    outline: none;

    width: 90%;

    overflow-y: auto;
    height: 100px;

}

.loadedComments {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}

.comment {
    display: flex;
    flex-direction: column;

    background-color: rgba(0, 0, 0, 0.267);
    border-radius: 1rem;
}

.comment > h4 {
    font-style: normal;
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.comment > .text {
    margin: 0;
    padding: 0rem 1rem 1rem 1rem;

    font-weight: 100;
    font-size: 0.9rem;
}

.comment > h4 > .timestampComment {
    margin: 0;
    font-weight: 100;
    font-size: 0.8rem;
}

.buttonLoader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.buttonLoader button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.buttonLoader button:hover {
    background-color: rgb(146, 146, 146);
    color: black;
    cursor: pointer;
}