.navmain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 400px;
    background: rgba(0, 0, 0, 0.411);
    border: 5px rgba(0, 0, 0, 0.274) solid;
    border-radius: 5rem;
}

.navmain a, .navmain a:visited {
    text-decoration: none;
    color: white;
    font-weight: 800;
    margin: 1rem;

    transition: 0.5s;
}

.navmain a:hover {
    transform: scale(1.5) rotate(-5deg);
    color: rgb(125, 196, 255);
}