.filler {
    width: 100vw;
    height: 5rem;
}

.navcontainer {
    width: 100vw;
    height: fit-content;
    position: fixed;

    /*background-image: radial-gradient(ellipse at top left, #2e0d0d, #2e101023);*/

    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 1000;
}

.navcontainer > .navmain > img {
    /*position: fixed;*/
    overflow: hidden;

    left: 1rem;
    width: 4rem;
    height: 4rem;

    clip-path: circle(40% at center);
    filter: contrast(150%);
}

.navmain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 400px;
    background: rgb(0, 0, 0);
    border-radius: 0rem 5rem 0rem 5rem;
    border: 5px rgba(0, 0, 0, 0.274) solid;
}

.navmain a, .navmain a:visited {
    text-decoration: none;
    color: white;
    font-weight: 800;
    margin: 1rem;

    transition: 0.5s;
    user-select: none;
}

.navmain a:hover {
    transform: scale(1.5) rotate(-5deg);
    color: rgb(125, 196, 255);
}

.logBtn {
    position: absolute;
    right: 2rem;
    top: 1rem;
    width: fit-content;
    height: fit-content;

    font-size: 0.8rem;
    padding: 0.5rem;

    background-color: black;
    border: white 1px solid;
    border-radius: 0.5rem;
    color: white;
}

.logBtn:hover {
    background-color: white;
    color: black;
}

@media screen and (max-width: 700px) {

    .navcontainer {
        width: 100%;
    }

    .navmain && .navcontainer {
        margin: 0;
    }

    .navmain {
        border-radius: 5rem;
        padding: 0;
    }

    .logBtn {
        right: 0;
        top: 0;
    }
    
}