.filler {
    width: 100vw;
    height: 5rem;
}

.navcontainer {
    width: 100vw;
    height: fit-content;
    position: fixed;

    /*background-image: radial-gradient(ellipse at top left, #2e0d0d, #2e101023);*/

    display: flex;
    justify-content: center;
    align-content: center;
}

.navmain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 400px;
    background: rgb(0, 0, 0);
    border-radius: 0rem 5rem 0rem 5rem;
    border: 5px rgba(0, 0, 0, 0.274) solid;
}

.navmain a, .navmain a:visited {
    text-decoration: none;
    color: white;
    font-weight: 800;
    margin: 1rem;

    transition: 0.5s;
    user-select: none;
}

.navmain a:hover {
    transform: scale(1.5) rotate(-5deg);
    color: rgb(125, 196, 255);
}